header{
  background-color: black;
  padding: 15px;
  height: 100%;
  position: fixed;
  z-index: 2000;
}

nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

nav img{
  width: 150px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 10px;
}

nav div:first-child .link_nav{
  text-decoration: none;
  color: rgb(122, 121, 121);
  font-size: large;
  padding-left: 10px;
  padding-bottom: 10px;
}

nav div:first-child .link_nav:hover{
  color: white;
}

nav .bi{
  font-size: x-large;
}

nav div{
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav div > input[type = "text"]{
  border-radius: 10px;
  text-indent: 10px;
  margin-top: 10px;
  border: 1px solid black;
}

nav > div:last-child{
  padding: 10px;
}

nav > div:last-child > button[name = signUp]{
  border-radius: 15px;
  padding: 5px;
  margin-top: 15px;
  border: 1px solid black;
  transition: all 0.5s ease;
}

nav > div:last-child > button[name = login]{
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
  margin-top: 15px;
  transition: all 0.5s ease;
}

nav > div:last-child > button[name = login]:hover{
  background-color: white;
  color: black;
}

nav > div:last-child > button[name = signUp]:hover{
   background-color: rgb(83, 230, 83);
   color: white;
}

nav div:last-child span{
  margin-top: 15px;
  text-align: center;
}

nav div:last-child .link_nav{
  text-decoration: none;
  color: rgb(122, 121, 121);
}

nav div:last-child .link_nav:hover{
  text-decoration: underline;
}
